body {
    margin: 0;
}

/* Navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

li {
    cursor: pointer;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content {
    margin: 20px;
}

.active {
    background-color: #4CAF50;
}

/* General */
.hidden {
    display: none;
}

.unread-notifier {
    color: red;
}

/* Input */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

/* Messages */
.message {
    border: 1px solid black;
}

.unread {
    background-color: paleturquoise;
}

.subject {
    font-weight: bold;
}